/* colores
#0A7373 "aqua"
#010221 "negro"
#EAF6FF "blanco"
#009FFD "azul"
#FFA400 "naranja"
*/

html{
    /* background-color:#0A7373; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #010221;

}

header{
    background-color: #0A7373;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#bloquetop{
    background-color: darkslategrey;
    height: 160px;
}

a{
    text-decoration: none;
    color: unset;
}

a:hover{
    text-decoration: underline;
}

.top{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    width: 1200px;
}

.secciones li{
    color:whitesmoke;
    font-size: 28px;
    display: inline-flex;
    
}

.secciones ul{
    padding: 0px;
    text-align: center;
}

.secciones{
    position: relative;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.secciones div{
    display:flex;
    flex-direction: column;
    height: 40px;
    width: 150px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.secciones div{
    box-sizing: border-box;
}


.secciones div ul{
    display: block;
    position: relative;
    
}

.secciones div:hover{
    height: 150px;
    transition: .5s ease-in-out;
}

.categorias li{
    color: #010221;
    padding: 0px;
}

.contindex{
    display: inline-flex;  
}

.contindex #izq{
    display: block;
    width: 280px;
    height: 250px;
    margin-top: 150px;
    padding-left: 35px;    
}

h1, h2{
    font-size: 28px;
    text-align: center;
}

.contindex #noticias{
    background-color: #FFA400;
    width: 250px;
    height: 250px;
    padding-left: 35px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.contindex #noticias p{
    font-size: 24px;
}

.contindex #sucursales{
    margin-top: 150px;
}

.tiendas{
    font-size: 24px;
    color: #009FFD;
}

.contindex #centro{
    width: 800px;
    margin-left: 100px;
    margin-top: 40px;
}

.contindex #cntvd{
    display: inline-flex;
    
}

h3, h4{
    font-size: 36px;
}

.contindex #parrB{
    width: 325px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
}

.contindex #prox{
    padding-top: 150px;
    font-size: 42px;
}

.contindex #contacto{
    margin-top: 50px;
}

.contindex #form{
    font-size: 24px;
}

footer{
    background-color: #0A7373;
    font-size: 24px;
    text-align: center;
    color: #EAF6FF;
}

.contacto h1{
    font-size: 32px;
}

#contacto #form{
    font-size: 30px;
}

.cuadroform{
    width: 800px;
    height: 600px;
    font-size: 24px;
}

.cuadroform h1{
    font-size: 36px;
}

.cuadroform #datos{
    padding-left: 100px;
}